.logo,
.logoSm {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-radius: 50%;
  width: fit-content;
  pointer-events: auto;
}

.logo {
  &:before {
    content: 'Healthy';
    color: burlywood;
    font-family: 'Kalam-Regular';
  }
  &:after {
    content: 'Plate';
    font-family: 'Kalam-Light';
    font-weight: 900;
    color: white;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.logoSm {
  display: none;
  margin: 0 auto;

  &:before {
    content: 'H';
    color: burlywood;
    font-family: 'Kalam-Regular';
  }
  &:after {
    content: 'P';
    font-family: 'Kalam-Light';
    font-weight: 900;
    color: white;
  }

  @media screen and (max-width: 600px) {
    display: flex;
  }
}
